.grades {
  padding: 4rem 0;
}

#grades-form {
  display: flex;
  align-items: center;
  max-width: 47rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background-color: #e0e0e0;
  color: #161616;
  border: 1px solid white;
}

.table th {
  padding: 15px;
  font-size: 1.4rem;
  font-weight: 500;
}

.table td {
  padding: 10px;
}

.table tbody {
  font-size: 18px;
  border: 1px solid white;
}

.table tbody tr:nth-child(2n) {
  background-color: white;
}

.table tbody tr:nth-child(2n + 1) {
  background-color: #f4f4f4;
}

.table-center {
  text-align: center;
}

.notification {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
}
